---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import { render } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---



<html lang="en">
	<head>
		<BaseHead title={post.data.title} description={post.data.description} />
	</head>
	<body style="background: var(--bg); color: var(--text); font-family: 'Inter', Arial, sans-serif;">
		<BlogPost {...post.data}>
			<Content />
		</BlogPost>
	</body>
</html>
